In [1]:
print("Meenakshi")

Meenakshi

In [2]:
name=input("enter your name")
print("your Name:",name)

enter your name meenakshi

your Name: meenakshi

In [4]:
num1=input("enter your first number")
num2=input("enter your second number")
print("first number:",num1)
print("second number:",num2)

enter your first number 6
enter your second number 12

first number: 6
second number: 12

In [6]:
num1=int(input("enter your first number"))
num2=int(input("enter your second number"))
sum=num1+num2
print("sum of two values:",sum)

enter your first number 5
enter your second number 10

sum of two values: 15

In [7]:
a=input("enter your first name")
b=input("enter your last name")
c=a+b
print("your full name:",c)

enter your first name meenakshi
enter your last name menti

your full name: meenakshimenti

In [10]:
a=int(input("enter your first number"))
b=int(input("enter your second number"))
a=a+b;
b=a-b;
a=a-b;
print("a:",a)
print("b:",b)

enter your first number 10
enter your second number 20

a: 20
b: 10

In [11]:
a=int(input("enter your first number"))
b=int(input("enter your second number"))
temp=a
a=b
b=temp;
print("after swapping:",a)
print("after swapping:",b)

enter your first number 10
enter your second number 20

after swapping: 20
after swapping: 10

In [12]:
a=int(input("enter your first number"))
b=float(input("enter your second number"))
c=str(input("enter your word"))
print("integer is:",a)
print("float is:",b)
print("boolean is:",c)

enter your first number 12
enter your second number 22.34
enter your word true

integer is: 12
float is: 22.34
boolean is: true

In [2]:
a=12
b=23
c=True
print("integer is:",a)
print("float is:",b)
print("boolean is:",c)

integer is: 12
float is: 23
boolean is: True

In [6]:
# to print non-primitive data types
tuple=(10,20,30)
list=[10,20,30,10]
set={10,20,30}
dict_1={"one":1,"two":2,"three":3}
print("tuple is:",tuple)
print("list is:",list)
print("set is:",set)
print("dictionary is:",dict_1)

tuple is: (10, 20, 30)
list is: [10, 20, 30, 10]
set is: {10, 20, 30}
dictionary is: {'one': 1, 'two': 2, 'three': 3}

In [7]:
#to print square of a number
num=int(input("enter number"))
b=num**2
print(b)

enter number 4

16

In [9]:
# to print avg of 3 num
a=int(input("enter your first number"))
b=int(input("enter your second number"))
c=int(input("enter your third numbe"))
average=(a+b+c)/3
print("average is:",average)

enter your first number 2
enter your second number 4
enter your third numbe 6

average is: 4.0

In [10]:
#num multiplied by 10
num=int(input("enter your  number"))
result=num*10
print("the result is:",result)

enter your  number 10

the result is: 100

In [15]:
#minutes to seconds
minutes=int(input("enter minutes"))
a=60
seconds=minutes*a
print(seconds)

enter minutes 4

240

In [1]:
#to multiply 2 floating points
a=float(input("enter your first number"))
b=float(input("enter your second number"))
c=a*b
print("the result:",c)

enter your first number 4.5
enter your second number 4.5

the result: 20.25

In [2]:
#max of 3 nums
a=int(input("enter your first number"))
b=int(input("enter your second number"))
c=int(input("enter your third numbe"))
print(max(a,b,c))

enter your first number 8
enter your second number 10
enter your third numbe 6

10

In [4]:
# natural,even,odd
n=int(input("enter the n value"))
natural=n*(n+1)//2
even=n*(n+1)
odd=n**2
print("the natural numbers are:",natural)
print("the even numbers are:",even)
print("the odd numbers are:",odd)

enter the n value 50

the natural numbers are: 1275
the even numbers are: 2550
the odd numbers are: 2500

In [11]:
name=str(input("enter your name"))
print("The documents are required are PAN,Aadhar,civil to score more than 700")
a=str(input("do you have aadhar card(yes,No:"))
b=str(input("do you have PAN card(yes,No:"))
c=int(input("do you have civil score:"))
if(a,b=="yes" and c>700):
    print("eligible")
else:
    print("not eligible")

enter your name meena

The documents are required are PAN,Aadhar,civil to score more than 700

do you have aadhar card(yes,No: yes
do you have PAN card(yes,No: yes
do you have civil score: 800

eligible

In [12]:
# airthmetic operators
a=int(input("enter your first number"))
b=int(input("enter your second number"))
print("the sum is:",a+b)
print("the sub is:",a-b)
print("the multiplication is:",a*b)
print("the division is:",a/b)

enter your first number 4
enter your second number 7

the sum is: 11
the sub is: -3
the multiplication is: 28
the division is: 0.5714285714285714

In [13]:
#logical operators
a=int(input("enter your first number"))
b=int(input("enter your second number"))
print(a>0 and b>15)
print(a>15 or b<5)
print(not(a==10))

enter your first number 5
enter your second number 8

False
False
True

In [18]:
#to print +ve,-ve and 0
num=int(input("enter the number"))
if(a>0):
 print("positive")
elif(a<0):
 print("negative")
elif(a==0):
 print("Zero")
else:
 print("error")

enter the number 6

positive

In [19]:
# even or odd
num=int(input("enter the number"))
if(num%2==0):
    print("even")
else:
    print("odd")

enter the number 8

even

In [26]:
#divisible by 5&11
num=int(input("enter the number"))
if(num%5==0 and num%11==0):
     print("number is divisible by 5 & 11")
else:
    print(" number is not divisible by 5 & 11")

enter the number 55

number is divisible by 5 & 11

In [28]:
# to check age group
age=int(input("enter the age"))
if(age<13):
    print("your a kid")
elif(age<=19):
    print("you are in teenage")
else:
    print("you are adult")

enter the age 12

your a kid

In [32]:
#grade
marks=int(input("enter the marks"))
if(marks>=90):
    print("A grade")
    print("excellent")
elif(marks>=70 and marks<=89):
    print("B grade")
    print("Good")
elif(marks>=50 and marks<=69):
    print("C grade ")
elif(marks>=40 and marks<=49):
    print("D grade ")
elif(marks<=40):
    print(" Fail ")
else:
    print("error")

enter the marks 70

B grade
Good

In [ ]:
# find week of day
num=int(input("enter your  number"))
if(num==1):
    print("Monday")
elif(num==2):
    print("tuesday")
elif(num==3):
    print("Wednesday")
elif(num==4):
    print("thursday")
elif(num==5):
    print("Friday")
elif(num==6):
    print("Saturday")
elif(num==7):
    print("sunday")
else:
    print("invalid")